.search-box {
    font-family: sans-serif;
    border-radius: 15px;
    min-height: 40px;
    outline: none;
    border: 1px solid #ccc;
    width: 94%;
    padding: 0px 20px;
    vertical-align: middle;
    font-size: 16px;
    margin: 10px 0;
}