/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e1e1e1;
    padding: 15px;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link,
.p-tabview .p-tabview-nav,
.p-tabview .p-tabview-panels {
    background: none !important;
}